{% extends "index.html" %}

{% block content %}

{% if userprofiles %}

    {% for userprofile in userprofile %}

    <div>
    <img src="{{userprofile.picture.url}}" height="400" width="400"><br>
    <P>Username: {{userprofile.user.username}}</P><br>
    <P>First Name: {{userprofile.user.first_name}}</P><br>
    <P>Last Name: {{userprofile.user.last_name}}</P><br>
    <P>Email: {{userprofile.user.email}}</P><br>
    <p>Bio: {{userprofile.bio}}</p>

    </div>

    {% endfor %}

{% endif %}
{% endblock %}