{% extends 'index.html' %}
{% block content %}
<h3 style="text-align: center;">Click to upload your assets.</h3>
<p>
    <a href="{% url 'booking:files' %}" class="btn btn-info" style="position:absolute; left: 600px;">Upload</a>
</p>


  {% if assets %}
        {% for asset in assets %}
        <div>
            <b>Username:</b>{{asset.user.username}}
            <br>
            <b>Title:</b>{{asset.asset_Title}}
            <br>
            <b>Type:</b>{{asset.asset_Type}}
            <br>
            <b>Price:</b>{{asset.asset_Price}}
            <br>
            <b>Purpose:</b>{{asset.asset_purpose}}
            <br>
            <b>Location:</b>{{asset.asset_Location}}
            <br>
            <img src="{{asset.asset_Image.url}}" height="400" width="400">
            <br>
        </div>
            
         

            <div>
                <div><form method="POST" action="{% url 'booking:delete_asset' asset.pk %}">
                {% csrf_token %}
                <button style="position:absolute;left:10px;" type= "submit" class="btn btn-danger">Delete</button>
                 </form>
                 </div>
                <div><form method="GET" action="{% url 'booking:update_asset' asset.pk %}">
                    {% csrf_token %}
                <button style="position:absolute;left:100px;" type="submit" class="btn btn-primary">Update</button></form>
                </div>
            
                {% if asset.is_available %}
               <div><form method="POST" action="{% url 'booking:book_asset' asset.pk %}">
                {% csrf_token %}
                <button style="position:absolute; left:200px;" type="submit" class="btn btn-primary">Book</button></form>
                {% else %}
                <button style="position:absolute;left:200px;" type="submit" class="btn btn-success">Booked</button>
                {% endif %}
                </div>
                <div>
                    <a href="{{asset.asset_Image.url}}" style="position:absolute; left:300px;">Download</a>
                </div>
            </div>
           
             
        {% endfor %}
        </p>
{% else %}

<div class="container">
    <div class="row">
        <div class="card-title">
            <h1>No results</h1>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}